body {
	margin: 0;
	color: #000;
	background: #fff;
	font: 14px/24px Georgia, serif;
}
.header {
	text-align: center;
}
.logo {
	margin: 50px 0 40px 0;
}
.wrapper {
	width: 1063px;
	margin: 0 auto;
}
.nav {
	margin: 0;
}

.nav__list {
	font: 14px/24px "Times New Roman", serif;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	text-transform: uppercase;

}

.nav__list li {

	display: inline-block;
	padding: 0  45px;
}
.a1 a {
	color: red !important;
}
.a1 a:hover {
	text-decoration: underline;
}

.nav__list a {
	color: #626262;
	text-decoration: none;
}

.nav__list a:hover {
	color: red;
}

.nav__list a:active {
	color: green;
}
.image1 {
	margin-bottom: 50px;
}
main {
	font: 14px/24px Georgia, serif;
	width: 915px;
	color: #626262;
}
main .photodiary {
	font: 14px/24px Arial, sans-serif;
	color: #b4ad9e;
	padding: 0;
	text-transform: uppercase;
	margin-bottom: 30px;
}
main .h1 {
	color: #626262;
	font: bold 36px/24px "Times New Roman", serif;
	margin-bottom: 11px; 
}
main p {
	margin-bottom: 25px;
}
main .h2 {
	color: #626262;
	font: bold 30px/24px Georgia, serif;
	margin-bottom: 30px;
}


.a2 {
	color: red;	
}

.unordered {
	padding: 0 17px;
	margin-bottom: 25px;
}
.h3 {
	color: #626262;
	font: bold 24px/24px Georgia, serif;
	margin-bottom: 15px; 
}
.ordered {
	padding: 0 17px;
	margin-bottom: 25px;

}
.h4 {
	font: bold 18px/24px Georgia, serif;
	color: #626262;
	margin-bottom: 30px;
}
main .blockquote {
	text-align: center;	
	width: 910px;
}
.com a {
	font: 14px/24px Arial, sans-serif;
	color: #b4ad9e;
	text-decoration: none;
	text-transform: uppercase;
}
.com a:hover {
	color: red;
}
.footer {

	background: #f0f0f0;
	padding: 30px 0px 45px;

}
.social {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-text {
	margin: 0 10px 0 900px;
}
.container {
	max-width: 1063px;
	margin: 0 auto;
}
.container:after {
	content: "";
	display: block;
	clear: both;
}
.social li{
	float: left;
	margin: 0 0 0 20px;
}
.social li a{
	height: 15px;
	display: block;
	background: url('../images/sprite.png')  no-repeat; 
	text-indent: -9999px;
	overflow: hidden;
}
.social li .facebook {
	width: 9px;
}
.social li .facebook:hover {
	background-position: 0 -16px;
}
.social li .twitter {
	width: 18px;
	background-position: -25px 0;
}
.social li .twitter:hover {
	width: 18px;
	background-position: -25px -16px;
}
.social li .instagram {
	width: 18px;
	background-position: -60px 0;
}
.social li .instagram:hover {
	width: 18px;
	background-position: -60px -16px;
}		
	